body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #592348
  
}

p {
    color: #592348
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #592348;
  font-size: x-large;
}
