.donkerblauw {
  color: #133340;
}

.paars {
  color: #592348;
}

.grijs {
  color: #D9D9D9;
}

.navbar {
  background-color: #133340;
}

html,
body {
  background-color: #D9D9D9;
  color: #133340;
}

a {
  color: #592348;
}

a:hover {
  color: #133340;
}

h1,
h2,
h3,
H4 {
  color: #592348;
}

.btn-primary {
  background-color: #592348;
}

.btn-primary:hover {
  background-color: #133340;
}

p {
  color: #592348
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 2rem;

}